@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

.ContainerHeader {

overflow: hidden;
    padding-bottom: 100px;
    z-index: 1000; /* Ajusta el valor según sea necesario */
}

.containerHome {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 70px;
    padding: 20px;
}

/* text */
.ContainerTextHome {
    width: 50%;
    font-family: 'Poltawski Nowy', serif;
}

.ContainerTextHome h1 {
    margin-bottom: 40px;
}

.ContainerTextHome p {
    font-size: 1.3rem;
}

.ContainerTextHome p span {
    color: #892be2fb;
    font-weight: 600;

}

.BtnContact {
    padding: 10px;
    background-color: #892be2fb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animaciones de transformación y color */
  }
  
  .BtnContact:hover {
    transform: scale(1.1); /* Aumentar el tamaño del botón */
    background-color: #7a1fd2; /* Cambio de color al pasar el ratón */
  }
  
  .BtnContact:active {
    transform: scale(0.98); /* Al presionar el botón, el tamaño se reduce un poco */
    background-color: #6e17bc; /* Cambio de color al presionar */
  }
  


/* img */
.ContainerImgHome {
    width: 50%;
    margin-top: 100px;
    border-radius: 0px;
}

.ContainerImgHome img {
    width: 100%;
    border-radius: 0px;
}

.ListaBeneficios{
    margin-top: 20px;
    margin-left: 10px;
}
.ListaBeneficios li {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .containerHome{
        display: block;
    }
    .ContainerTextHome{
        width: 100%;
    }
    .ContainerTextHome p{
        padding-right: 30px;
    }
    .ContainerImgHome{
        width: 100%;
    }
}