@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

.ContainerHeader {

overflow: hidden;
    padding-bottom: 100px;
}

.containerHome {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 70px;
    padding: 20px;
}

/* text */
.ContainerTextHome {
    width: 50%;
    font-family: 'Poltawski Nowy', serif;
}

.ContainerTextHome h1 {
    margin-bottom: 40px;
}

.ContainerTextHome p {
    font-size: 1.3rem;
}

.ContainerTextHome p span {
    color: #892be2fb;
    font-weight: 600;

}

.BtnContact {
    padding: 10px;
    background-color: #892be2fb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
}



/* img */
.ContainerImgHome {
    width: 50%;
    margin-top: 100px;
    border-radius: 0px;
}

.ContainerImgHome img {
    width: 100%;
    border-radius: 0px;
}

.ListaBeneficios{
    margin-top: 20px;
}
.ListaBeneficios li {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .containerHome{
        display: block;
    }
    .ContainerTextHome{
        width: 100%;
    }
    .ContainerTextHome p{
        padding-right: 30px;
    }
    .ContainerImgHome{
        width: 100%;
    }
}