.Difuminado {
    display: none;
    /* background: #892CE211; */
    /* background: linear-gradient(180deg, #892CE211, #ABF1DB97); */
    height: 100px;

}

.ContainerProceso {
    /* background-color: #abf1db97; */
    padding-top: 100px;

}

.TitleProceso {
    font-size: 1.3rem;
    /* color: #892be2fb; */
    width: 80%;
    font-weight: 700;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #6a0bc3fb;
    padding-bottom: 10px;
    display: flex;
}

.TitleProceso h2 {
    margin: auto;
}

#LampIcon {
    font-size: 50px;
    color: #771bcdfb;
    margin-bottom: -10px;

}

.ContainerTiposProcesos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1550px; /* Ancho máximo antes de cambiar el diseño */
    margin: 0 auto;
  overflow: hidden;
  
}
.Procesos {
    padding:  20px;
    border-radius: 8px;
    overflow: hidden; /* Oculta el contenido que exceda el alto */
    display: flex;
    flex-direction: column;


}
.ContainerTextProceso h3 {
    color: #892be2fb;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.ContainerTextProceso {
    flex: 1; /* Permite que este contenedor crezca en tamaño automáticamente */
    margin-top: 10px;
    box-shadow: -2px -1px 14px -5px rgba(0,0,0,0.37);
    -webkit-box-shadow: -2px -1px 14px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: -2px -1px 14px -5px rgba(0,0,0,0.37);
    padding: 20px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.ContainerTextProceso p {
    font-size: 1.1rem;
}

.ContainerTextProceso ul {
    margin-top: 10px;
}

.ContainerTextProceso ul li {
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
}

.IconParrafo {

    font-size: 25px;
    margin-right: 10px;
}
@media (max-width: 1222px) {
    .ContainerTiposProcesos {
        grid-template-columns: 1fr; /* Cambia a una columna */
        margin: 0px 100px;
    }
    
}
@media (max-width: 700px) {
    .ContainerTiposProcesos {   
        margin: 0px 30px;
    }
    
}