.ContainerNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.ContainerImgNotFound img {
    max-width: 700px;
    border-radius: 0;
}

.CotainerBTN {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.CotainerBTN button {
    background-color: #6a0bc3fb;
    padding: 10px 40px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    width: 200px;
    height: 50px;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.CotainerBTN button:hover {
    background-color: transparent;
    border: #6a0bc3fb solid 3px;
    color: #6a0bc3fb;
    transform: scale(1.05);
}


.CotainerBTN p {
    max-width: 1000px;
    margin: 40px;
    font-size: 1.3rem;
    color: gray;
}

/* Media queries para pantallas de hasta 767px */
@media only screen and (max-width: 767px) {
    .ContainerNotFound {
        height: auto;
    }

    .ContainerImgNotFound img {
        max-width: 90%;
        margin: auto;
        margin-left: 30px;
    }

    .CotainerBTN {
        margin-top: 20px;
        text-align: center;
    }

    .CotainerBTN p {
        margin: 20px;
    }

 
}